@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-width {
    @apply max-w-[1190px] mx-auto;
  }

  .separator {
    @apply w-full h-[1px] bg-slate-300 absolute bottom-0;
  }

}

.bumbox {
  filter: blur(200px);
  background: rgb(217, 217, 217);
  width: 504px;
  height: 200px;
}